/*! CSS Used from: https://caseable.com/main-a981823cd2eb9c69f462.style.css */
*,
:after,
:before {
  box-sizing: border-box;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  border-style: none;
}
img {
  vertical-align: middle;
}
.col {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
a,
a:hover {
  color: #6bb3b3;
}
:focus {
  outline: none;
}
/*! CSS Used from: https://caseable.com/index-cc97aa810eb0caa49394.style.css */
.banner-module--banner--240AhjNm {
  position: relative;
  text-align: center;
  padding: 32px 0;
  display: block;
}
.banner-module--banner--240AhjNm,
.banner-module--banner--240AhjNm:hover {
  color: #505959;
  text-decoration: none;
}
.banner-module--banner--240AhjNm .banner-module--imageContainer--3miU65ro img {
  max-width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .banner-module--banner--240AhjNm {
    padding: 80px 0;
  }
}
@media (min-width: 992px) {
  .banner-module--banner--240AhjNm {
    padding: 0;
  }
}
